<!DOCTYPE html>
<html>
    <head>
        <title>Restaurant</title>
      <link rel="stylesheet" href="css/index.css" type='text/css'> 
         
    </head>
    <h1>Restaurant</h1>
    <h2>User:<%=userID%> </h2>
    <h3> </h3>
    <body>
      Showing：<%=noR%> documents 
      <a href="http://localhost:8099/createRestForm">Create New Restaurant</a>
      <% if (r.length > 0) { %>
        <table>
        <tr><th>Name</th><th>Cuisine</th><th>Street</th><th>Building</th><th>Zipcode</th></tr>
        <% for (var i = 0; i < r.length; i++) { %>
        <tr>
        <td><%= r[i].name %></td>
        <td><%= r[i].cuisine %></td>
        <td><%= r[i].street %></td>
        <td><%= r[i].building %></td>
        <td><%= r[i].zipcode %></td>
        </tr>
        <% } %>
        </table>
        <% } else { %>
        <h1>There do not have any restaurant!</h1>
        <% } %>

        
     
    </body>
</html>
